name: CI - Testing & Linting

on:
  push:
    branches:
      - 'main'
  pull_request:

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:
  build:
    name: Running test
    runs-on: ubuntu-latest
    container: golang:latest
    steps:
    - uses: actions/checkout@v6
    - name: Get dependencies
      run: go get -v -t -d ./...
    - name: Run tests
      run: find . -name "go.mod" -execdir go test -v -race ./... \;
        
