name: CI - Testing & Linting

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  lint:
    name: GolangCI-Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # Versión mínima para el nuevo Mux de Transwarp
          cache: true

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest
          # IMPORTANTE: Al ser un monorepo, necesitamos que revise todos los módulos
          args: --timeout=5m  ./...

  test:
    name: Unit & Contract Tests
    runs-on: ubuntu-latest
    needs: lint # Solo corre los tests si el linter pasa
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true

      - name: Run Tests
        # Ejecutamos con -race para detectar condiciones de carrera en los adaptadores
        run: find . -name "go.mod" -execdir go test -v -race ./... \;
